{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>WHADUP</h1>

    {% for article in articles %}
        <img src="{{ article.poster }}" alt="article poster">
        <p>{{ article.author }}</p>
        <p>{{ article.title }}</p>
        <p>{{ article.content }}</p>

    {% endfor %}
{% endblock %}
