{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1 class="mainTitle">WELCOME</h1>
    {% if app.user %}
        <h2 class="username">{{ app.user.username }}</h2>
        <div class="center">
            <img class="profilPicture" src="{{ app.user.photo }}">
        </div>
    {% else %}
        <p>Veuillez vous connecter pour accéder à cette page</p>
    {% endif %}














{% endblock %}