{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1 class="mainTitle">Modifier mon article</h1>
    {% if app.user is same as (article.author) %}

        {{ include('article/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

        <a href="{{ path('home') }}">Retour aux articles</a>

        {{ include('article/_delete_form.html.twig') }}
{% else %}
        <p>Seuls les auteurs d'un article peuvent le modifier</p>
    {% endif %}
{% endblock %}
